<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Hello
      <input id="firstName" v-model="tmpAuthor.firstName"/>
      <input id="lastName" v-model="tmpAuthor.lastName"/>
    </h2>
    <button @click="changeAuthor">+</button>
    <button @click="changeAuthorName">Edit</button>
  </div>
</template>

<script src="./script.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
